body {
   background: #fff;
}

#forgetPassword {
   padding: 2em 4em;
}

#forgetPassword .line {
   margin-top: 20px;
   width: 50px;
   height: 5px;
   border-radius: 50px;
   background-color: var(--main-color);
}

#forgetPassword #forgetPassword_form h3 {
   font-size: 25px;
   font-weight: lighter;
   text-align: center;
   margin-bottom: 40px;
   margin-top: 40px;
}

#forgetPassword #forgetPassword_form h3 span {
   color: var(--main-color);
   border-bottom: 3px solid;
   padding-bottom: 5px;
}

#forgetPassword #forgetPassword_form input::-webkit-input-placeholder {
   /* Chrome, Firefox, Opera, Safari 10.1+ */
   color: #ccc;
   opacity: 1;
   /* Firefox */
}

#forgetPassword #forgetPassword_form input:-ms-input-placeholder {
   /* Chrome, Firefox, Opera, Safari 10.1+ */
   color: #ccc;
   opacity: 1;
   /* Firefox */
}

#forgetPassword #forgetPassword_form input::-ms-input-placeholder {
   /* Chrome, Firefox, Opera, Safari 10.1+ */
   color: #ccc;
   opacity: 1;
   /* Firefox */
}

#forgetPassword #forgetPassword_form input::placeholder {
   /* Chrome, Firefox, Opera, Safari 10.1+ */
   color: #ccc;
   opacity: 1;
   /* Firefox */
}

#forgetPassword #forgetPassword_form input:-ms-input-placeholder {
   /* Internet Explorer 10-11 */
   color: #ccc;
}

#forgetPassword #forgetPassword_form input::-ms-input-placeholder {
   /* Microsoft Edge */
   color: #ccc;
}

#forgetPassword #forgetPassword_form button {
   margin: 0 auto;
   width: 100%;
   font-weight: bold;
}

#forgetPassword-illu>a>img {
   display: block;
   margin-left: auto;
   position: relative;
   right: 64px;
   top: 32px;
}