@import "profile.css";

.nav-tabs .nav-link.active {
   color: #2c97dd;
}

#settings {
   margin-bottom: 3rem;
   padding: 0;
   background-color: #fff;
   -webkit-box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
   box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
}

#settings #pills-tabContent {
   padding: 40px
}

#settings .cancel {
   margin-right: 10px;
   color: #6c757d;
   background-color: transparent;
   background-image: none;
}